<?xml version="1.0" encoding="utf-8"?>
<InstalledPlugins xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Plugin>
    <Name>Plugin</Name>
    <Description>Collect Daily Ocean Support Jobs</Description>
    <Contact>contact@company.info</Contact>
    <PluginTypeName>OceanTestingZone.Plugin, OceanTestingZone, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</PluginTypeName>
    <PluginUri>http://www.pluginuri.info/</PluginUri>
    <PluginId>://OceanTestingZone.Plugin/1.0.0.0</PluginId>
    <Trust PublicKeyToken="">Default</Trust>
    <ReleaseDate>2020-04-22</ReleaseDate>
    <Author>WGaige</Author>
    <AppVersion>2019.1</AppVersion>
    <Modules>
      <Module TypeName="OceanTestingZone.Module, OceanTestingZone, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </Modules>
    <Assemblies>
      <Assembly Name="OceanTestingZone, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </Assemblies>
    <assemblyBinding />
    <StartMode>Startup</StartMode>
    <StartupAction>None</StartupAction>
  </Plugin>
</InstalledPlugins>